---
layout: page
title: Impact
subtitle: Everyone benefits from publicly-owned broadband
description: >
  Explore the list of ways everyone in Portland benefits from publicly-owned broadband, including for individuals and
  small businesses.
---
<article class="section pf-primary">
  <div class="container">
    {% include notifications/draft.html %}
    <div class="linkable">
      <h3 class="title is-4"><a id="prices" href="#prices">It reduces prices for everyone.</a></h3>
      <div class="content">
        <p>
          You may be told by telecom lobbying groups that creating municipal broadband infrastructure will cost
          millions in taxpayer revenue for subpar service. This is simply untrue. <strong>Our municipal network would
          not be funded with any public revenues, nor would it tax residents in any way.</strong>
        </p>
        <ul>
          <li>
            The initial capital to build the network comes from municipal bonds. These are offered to investors around
            the country, and have been used with great success for many public infrastructure projects, including other
            municipal broadband networks.
          </li>
          <li>
            When you sign up for municipal broadband service, we estimate that you&rsquo;ll save around 50% compared to
            existing internet providers&rsquo; current pricing. That&rsquo;s because we run the network at-cost, with
            any profits going to infrastructure reinvestment or your pocket, rather than corporate shareholders.
          </li>
        </ul>
        <p>
          Our pricing philosophy: no publicly-sourced infrastructure costs and inexpensive internet access that
          benefits the local community.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="customer-service" href="#customer-service">It increases the quality of service.</a></h3>
      <div class="content">
        <p>
          Our service eliminates the {% include glossary.html term="natural monopoly" %} enjoyed by Comcast and
          CenturyLink today. With their current status, they don&rsquo;t have to worry about having fantastic service
          (both connection quality and customer service) because they are the only options available.
        </p>
        <p>
          Additionally, we&rsquo;ll mandate fair, network-neutral content policies across our entire infrastructure,
          ensuring internet access remains open and accessible to everyone in the future.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="disadvantaged" href="#disadvantaged">It reaches people who cannot get access today.</a></h3>
      <div class="content">
        <p>
          Because we&rsquo;re locally-operated and invested in providing access to all Portlanders, we&rsquo;ll ensure
          that disadvantaged persons and low-income areas neglected by existing internet providers are given fair
          access to the internet. We know that internet access gives people a huge advantage, from learning new skills
          to applying for jobs. In additional to building the same high-speed infrastructure to all parts of the city,
          we&rsquo;ll offer low- or zero-cost service plans for disadvantaged individuals and families.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="competition" href="#competition">It fosters competition.</a></h3>
      <div class="content">
        <p>
          Once our infrastructure construction is complete, we can begin leasing access to it to interested local
          internet providers. Because they don&rsquo;t have to worry about building their own
          {% include glossary.html term="last mile" %} connectivity, they can immediately become competitive in our
          market, even against giants like Comcast and CenturyLink.
        </p>
        <p>
          This captures a truly capitalist aspect of our proposal: we primarily aim to increase competition by
          eliminating roadblocks that prevent local small businesses from entering the telecom market.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="new-businesses" href="#new-businesses">It attracts new businesses to the area.</a></h3>
      <div class="content">
        <p>
          Portland is poised to be one of the centers of technology investment in the next 20 to 30 years. Municipal
          broadband stands out in the community, and incentivizes business growth in otherwise stagnant markets. When
          Chattanooga, TN started providing gigabit-speed broadband internet, it
          <a href="http://fortune.com/2017/05/08/tech-startup-innovation-chattanooga-tennessee/">grew from a somewhat
          depressed industrial city to a bustling technology hub</a>.
        </p>
        <p>
          Technology industry leaders are demonstrably paying attention to municipal broadband, and they&rsquo;re
          making extensive investments in areas where it&rsquo;s available.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="small-businesses" href="#small-businesses">It helps small businesses thrive.</a></h3>
      <div class="content">
        <p>
          With reliable, inexpensive broadband internet service, local businesses will save hundreds or thousands of
          dollars per year compared to expensive corporate contracts with existing internet providers. This can mean
          the difference between a profitable and unprofitable year for many small companies.
        </p>
      </div>
      <hr>
      <h3 class="title is-4"><a id="model-city" href="#model-city">It showcases our city as a model for progressive infrastructure.</a></h3>
      <div class="content">
        <p>
          Portland will be the largest city in the United States to offer a municipal broadband service. It will be a
          shining example of progressive, forward-looking infrastructure investment, and it can inspire other
          communities to implement their own municipal broadband programs.
        </p>
        <p>
          People will look to Portland for advice on building community networks, and improving local and state laws
          related to municipal broadband. We&rsquo;ll be proud to say we&rsquo;re an early influencer in a new,
          community-focused way of providing internet access that is inclusive to everyone.
        </p>
      </div>
    </div>
  </div>
</article>
{% include subscribe.html %}
