---
layout: page
title: Glossary
---
<article class="section linkable">
  <div class="container">
    {% include glossary/heading.html letter="C" %}
    {% include glossary/definition.html term="common carrier" definition="per the Communications Act of 1934, a
      classification for a business whose purpose is to act only as a means of transporting information from one place
      to another on behalf of a third party" %}
    <hr>
    {% include glossary/heading.html letter="F" %}
    {% include glossary/definition.html term="fiber optics" definition="a modern alternative to coax (cable) or
      twisted-pair copper (telephone and DSL) that can transmit digital signals at speeds that exceed 200 terabits per
      second" %}
    <hr>
    {% include glossary/definition.html term="fiber to the premises" definition="also called fiber to the home, running
      <a href=\"#fiber-optics\">fiber optic cables</a> directly to a connection point inside a household, rather than
      to a nearby neighborhood utility box" %}
    <hr>
    {% include glossary/heading.html letter="I" %}
    {% include glossary/definition.html term="internet service provider" definition="a company, organization, or
      <a href=\"#public-utility\">utility</a> that connects end users (like people and businesses) to the rest of the
      internet" %}
    <hr>
    {% include glossary/heading.html letter="L" %}
    {% include glossary/definition.html term="last mile" definition="typically the most expensive part of internet
      infrastructure, any hardware required to physically connect households and businesses to a more central location
      so that they can receive access to a telecom's network" %}
    <hr>
    {% include glossary/heading.html letter="N" %}
    {% include glossary/definition.html term="natural monopoly" definition="a economic outcome wherein the extreme cost
      of building infrastructure implies that the most efficient access to a market is through the single entity that
      controls existing infrastructure" %}
    <hr>
    {% include glossary/heading.html letter="O" %}
    {% include glossary/definition.html term="open access network" definition="a community-focused model of providing
      internet access where physical infrastructure and operational needs are managed separately, and multiple
      competing companies can provide access to end users" %}
    <hr>
    {% include glossary/heading.html letter="P" %}
    {% include glossary/definition.html term="public utility" definition="a reaction to the abuse of
      <a href=\"#natural-monopoly\">natural monopolies</a>, a government-regulated entity (public or private) that
      provides fair access to markets that are essential to social welfare, such as electricity and water" %}
    <hr>
    {% include glossary/heading.html letter="W" %}
    {% include glossary/definition.html term="wholesale operator" definition="a company that connects
      <a href=\"#internet-service-provider\">ISPs</a> to other ISPs over high-bandwidth links" %}
  </div>
</article>
