---
layout: front
scripts:
  - index
assets:
  icon-calendar: icons/icon-calendar.svg
  icon-place: icons/icon-place.svg
---
<section class="hero is-dark pf-front-body">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">Internet for All</h2>
      <p class="is-size-5">
        We&rsquo;re redefining Internet infrastructure in the Portland area to create the largest publicly-owned
        broadband service in the country. By <a href="{{ "/issues/" | prepend: site.baseurl }}">removing barriers to
        access</a>, <a href="{{ "/proposal/" | prepend: site.baseurl }}">implementing common-sense proposals</a>, and
        <a href="{{ "/community/" | prepend: site.baseurl }}">working with the community</a>, we can help ensure
        Internet access is open, fast, and reliable for everyone.
      </p>
    </div>
  </div>
</section>
{% include subscribe.html %}
<section class="section">
  <div class="container">
    <div class="columns pf-front-body">
      <div class="column is-one-third">
        <h2 class="subtitle">Upcoming Events</h2>
      </div>
      <div class="column">
        <a id="pf-events-ref" href="https://www.meetup.com/PDX-Fiber/events">See all events →</a>
      </div>
    </div>
  </div>
</section>
<hr class="pf-section-hr">
<section class="section">
  <div class="container">
    <div class="columns pf-front-body">
      <div class="column is-one-third">
        <h2 class="subtitle">From the Blog</h2>
      </div>
      <div class="column">
        {% for post in site.posts limit: 3 %}
          <article class="pf-front-blog-post" itemscope itemtype="https://schema.org/BlogPosting">
            <meta itemprop="mainEntityOfPage" content="{{ post.url | prepend: site.baseurl }}">

            <h3 class="pf-front-blog-title is-4" itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <div class="pf-blog-post content">
              {{ post.excerpt }}
            </div>
            <div class="level is-mobile">
              <div class="level-left is-mobile has-text-grey">
                <div class="level-item">
                  <div><span class="icon is-small">{% include icons/icon-clock.svg %}</span> <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></div>
                </div>
                {% if post.author %}
                  <div class="level-item">
                    <div><span class="icon is-small">{% include icons/icon-person.svg %}</span> <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span></div>
                  </div>
                {% endif %}
                <div class="level-item">
                  <a href="{{ post.url | prepend: site.baseurl }}"><span class="icon is-small">{% include icons/icon-link.svg %}</span> Read full post</a>
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
        <a href="{{ '/blog/' | prepend: site.baseurl }}">See all posts →</a>
      </div>
    </div>
  </div>
</section>
