---
layout: page
title: The Proposal
subtitle: A practical approach to municipal internet service
description: >
  A practical proposal to implement a municipal internet service in Portland. No new taxes, favorable outcomes for
  individuals and businesses, and a healthy competitive telecom market.
nav: proposal
footnotes:
  broadband-economics: >
    There have been many recent studies of the economic importance of the internet to communities. A
    <a href="http://cfp.mit.edu/publications/CFP_Papers/Measuring_bb_econ_impact-final.pdf">notable study prepared for
    the U.S. Department of Commerce</a> found as early as 2006 that broadband access increases employment rates by
    1&ndash;1.4% and business growth by 0.5&ndash;1.2%.
---
<article class="section">
  <div class="container">
    {% include notifications/draft.html %}
    <h3 class="title is-4">Today&rsquo;s Problem</h3>
    <div class="content">
      <p>
        As we approach the middle of the 21<sup>st</sup> century, we are increasingly dependent on high-speed internet
        access in our personal and professional lives. {% include footnote.html to="broadband-economics"
        content="Access to broadband internet creates significant economic, social, and educational value, and those
        without it are at a disadvantage to their connected peers." %}
      </p>
      <p>
        However, internet access is not provided with the needs of individuals or small businesses in mind.
      </p>
      <p>
        Because of the cost of building {% include glossary.html term="last-mile" %} connectivity&mdash;that is, the
        cables that connect your neighborhood to the rest of the world&mdash;the first internet service provider (ISP)
        in an area often enjoys a {% include glossary.html term="natural monopoly" %}. This means that it is so
        expensive for a new company to build a competing business that it becomes economically impossible. It is why
        you only have one cable company, Comcast, and one telephone company, CenturyLink.
      </p>
      <p>
        In an unregulated natural monopoly, the single firm that controls the market still optimizes for corporate
        profits. To maximize their profits, monopolies engage in price fixing, excessive lobbying to protect their
        control, and even content censorship. This creates <a href="{{ '/issues/' | prepend: site.baseurl }}">a
        multitude of issues</a> when their market is essential to public welfare.
      </p>
    </div>
    <hr>
    <h3 class="title is-4">Our Vision</h3>
    <div class="content">
      <p>
        By 2030, the City of Portland will own fiber-optic infrastructure capable of delivering broadband internet
        access to every resident and business of the city. Internet service will be regulated under an
        {% include glossary.html term="open access network" text="open-access network model" %}, which allows multiple
        ISPs to provide service using the city-owned infrastructure. This provides an alternative to Comcast and
        CenturyLink with significant advantages:
      </p>
      <ul>
        <li>
          It puts individuals and small businesses first. Because physical access is controlled by the city, all
          residents are guaranteed to have the same quality connection. Additionally, the city will mandate that any
          ISPs using its infrastructure follow network neutrality guidelines and accommodate low-income households and
          other disadvantaged persons.
        </li>
        <li>
          It facilitates competition. Because the last mile is owned by the city, starting a competitive ISP is
          economically viable. Even without further regulation, this will reduce prices, increase customer service
          quality, and encourage adoption of new technologies.
        </li>
      </ul>
    </div>
    <hr>
    <h3 class="title is-4">The Plan</h3>
    <div class="content">
      <p>
        We&rsquo;ve created a <a href="{{ '/proposal/plan.html' | prepend: site.baseurl }}">four-step plan</a> to
        achieve our vision:
      </p>
      <ol>
        <li>
          Create an oversight group and establish needed regulatory rules to ensure fair pricing and content policies.
        </li>
        <li>
          Establish a city-owned ISP to initially provide access to residents and businesses.
        </li>
        <li>
          Allocate bonds and build fiber-optic infrastructure throughout the city, prioritizing low-income areas and
          areas that are underserved by existing ISPs.
        </li>
        <li>
          Allow third-party ISPs to rent city-owned infrastructure to provide access in accordance with the city's
          regulatory requirements.
        </li>
      </ol>
      <p>
        Our plan does not increase taxes to residents or businesses, it ensures that access to the internet is
        regulated in a way that favors both consumers and small businesses for generations to come, and it fosters
        healthy competition in the telecom market.
      </p>
    </div>
    <hr>
    {% include footnotes.html %}
  </div>
</article>
{% include subscribe.html %}
