---
layout: page
title: The Proposal
subtitle: A practical approach to municipal internet service
nav: proposal
---
<article>
  <section class="section">
    <div class="container">
      {% include notifications/draft.html %}
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <div class="pf-bignum">1</div>
        </div>
        <div class="column pf-bignum-offset content">
          <p>
            The City of Portland creates an oversight group to develop a publicly-owned, consumer- and
            business-servicing internet franchise. The franchise is divided in two parts:
          </p>
          <ul>
            <li>
              <strong>Distribution infrastructure</strong>, which includes the parts of the network that are a
              {% include glossary.html term="natural monopoly" %}. Typically geographically constrained, this includes
              fiber optic cables, network access points, and other hardware.
            </li>
            <li>
              <strong>Network operations</strong>, a competitive {% include glossary.html term="internet service
              provider" text="ISP" %} regulated by city ordinance. Initially owned by the city itself, the ISP leases
              connectivity through the publicly-owned distribution infrastructure. It negotiates rates and
              interconnection with {% include glossary.html term="wholesale operator" text="wholesale operators" %},
              interacts with business and residential customers, and oversees day-to-day operation of the fiber network.
            </li>
          </ul>
          <p>
            Like a {% include glossary.html term="public utility" %}, albeit voluntarily, the franchise network is run
            at-cost to customers as determined by evaluating its budget needs with the city and its residents.
            Furthermore, any access to the infrastructure, including by network operations, requires fair,
            content-neutral policies.
          </p>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="notification">
            <h4 class="subtitle is-4">Our plan ensures fair, affordable access.</h4>
            <p>
              Because existing ISPs enjoy a natural monopoly via their infrastructure, it is hard for new competitors to
              enter the market. Under the current federal regulatory framework, they are free to set prices that maximize
              profits at the expense of the public good and to violate basic principles of network neutrality for their
              political benefit. With publicly-owned infrastructure that is leased at-cost, all ISPs would be
              <a href="{{ '/impact/#prices' | prepend: site.baseurl }}">forced to keep rates competitive</a> and required
              to be network neutral.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="notification">
            <h4 class="subtitle is-4">Our plan creates local opportunities.</h4>
            <p>
              In addition to <a href="{{ '/impact/#new-businesses' | prepend: site.baseurl }}">attracting new
              businesses to the area</a> and serving as a progressive example to the rest of the country, the franchise
              is operated with the needs of Portlanders in mind. It will
              <a href="{{ '/impact/#small-businesses' | prepend: site.baseurl }}">reduce costs for small businesses</a>,
              and it can quickly react to local economic, environmental, or social events that a for-profit company
              would not be able or willing to.
            </p>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <div class="pf-bignum">2</div>
        </div>
        <div class="column pf-bignum-offset content">
          <p>
            The franchise begins operating its network operations division, identifying initial customers, working with
            neighborhood associations to prioritize access, and creating pricing plans. The oversight group validates
            its financial projections and allows the ISP to start offering connectivity as infrastructure is put in
            place.
          </p>
          <div class="columns is-tablet is-multiline is-centered">
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered">Basic Plan (Internet)</p>
                </header>
                <div class="card-content">
                  <div><strong>300Mb/s</strong> downstream</div>
                  <div><strong>300Mb/s</strong> upstream</div>
                  <div>No data caps</div>
                  <div>No contract</div>
                  <div>Network neutral</div>
                </div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered">Basic Plan (Internet and TV)</p>
                </header>
                <div class="card-content">
                  <div><strong>300Mb/s</strong> downstream</div>
                  <div><strong>300Mb/s</strong> upstream</div>
                  <div><strong>140+ channels</strong> with HD support</div>
                  <div>No data caps</div>
                  <div>No contract</div>
                  <div>Network neutral</div>
                </div>
              </div>
            </div>
            <div class="column is-half-tablet is-one-third-desktop">
              <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered">Gigabit Plan</p>
                </header>
                <div class="card-content">
                  <div><strong>1000Mb/s</strong> downstream</div>
                  <div><strong>1000Mb/s</strong> upstream</div>
                  <div>No data caps</div>
                  <div>No contract</div>
                  <div>Network neutral</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <div class="pf-bignum">3</div>
        </div>
        <div class="column pf-bignum-offset content">
          <p>
            The city allocates bonds to provide the necessary capital for the franchise to place fiber optic
            infrastructure. Over 10 years, the franchise constructs
            {% include glossary.html term="fiber to the premises" text="FTTP" %} connections to local residents and
            businesses. As part of the grant issued by the city, the franchise determines the most beneficial way to
            reach all residents, especially those that are currently underserved by existing ISPs. It is expected that
            the franchise will be cash-flow positive within 5 to 7 years after construction begins.
          </p>
        </div>
      </div>
      <div class="notification">
        <h4 class="subtitle is-4">Our plan does not tax city residents.</h4>
        <p>
          Because the construction of the network is funded by municipal bonds, we would not have to impose any tax
          burden on anyone in the city.
        </p>
      </div>
      <div class="columns is-mobile">
        <div class="column is-narrow">
          <div class="pf-bignum">4</div>
        </div>
        <div class="column pf-bignum-offset content">
          <p>
            If desired, the franchise begins leasing its infrastructure to other ISPs, while continuing to mandate that
            access via publicly-owned fiber is subject to fair pricing and network neutrality regulations set forth by
            city ordinance. Additionally, the network operations division of the franchise could be spun off into a
            private entity, ensuring healthy (but regulated) competition for the foreseeable future.
          </p>
        </div>
      </div>
    </div>
  </section>
</article>
{% include subscribe.html %}
