<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>Created in and for Portland by the <a style="white-space: nowrap;" href="{{ site.github_url }}">PDX Fiber team</a>.</p>
      </div>
      <div class="column">
        <h3 class="has-text-grey">Connect</h3>
        <ul>
          <li><a href="mailto:{{ site.email }}"><span class="icon is-small">{% include icons/icon-email.svg %}</span> {{ site.email }}</a></li>
          <li><a href="https://twitter.com/{{ site.twitter.username }}"><span class="icon is-small">{% include icons/icon-twitter.svg %}</span> @{{ site.twitter.username }}</a></li>
        </ul>
      </div>
      <div class="column">
        <h3 class="has-text-grey">About</h3>
        <ul>
          <li><a id="credits-open">Credits</a></li>
          <li><a href="{{ '/sitemap.html' | prepend: site.baseurl }}">Site Map</a></li>
          <li><a href="{{ '/terms.html' | prepend: site.baseurl }}">Terms of Use</a></li>
          <li><a href="{{ '/privacy.html' | prepend: site.baseurl }}">Privacy Policy</a></li>
          {%- assign url_start = page.url | slice: 0, 6 -%}
          {%- capture license %}{% if url_start == '/blog/' %}by-nc-nd{% else %}by-nc-sa{% endif %}{% endcapture -%}
          <li><a rel="license" href="https://creativecommons.org/licenses/{{ license }}/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/{{ license }}/4.0/80x15.png" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% capture jquery_path %}/assets/js/jquery-{{ site.jquery_version }}.min.js{% endcapture %}
<script charset="utf-8" src="{{ jquery_path | prepend: site.baseurl }}" defer></script>
<script charset="utf-8" src="{{ '/assets/js/main.js' | prepend: site.baseurl }}" defer></script>
{% if page.scripts %}
  {% for script in page.scripts %}
    <script charset="utf-8" src="{{ script | append: '.js' | prepend: '/assets/js/' | prepend: site.baseurl }}" defer></script>
  {% endfor %}
{% endif %}
