<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item pf-default-logo" href="{{ "/" | prepend: site.baseurl }}">PDX Fiber</a>
      <button class="button navbar-burger" data-target="pf-navbar">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navbar-menu" id="pf-navbar">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ "/proposal/" | prepend: site.baseurl }}">Proposal</a>
        <a class="navbar-item" href="{{ "/impact/" | prepend: site.baseurl }}">Impact</a>
        <a class="navbar-item" href="{{ "/issues/" | prepend: site.baseurl }}">The Issues</a>
        <a class="navbar-item" href="{{ "/community/" | prepend: site.baseurl }}">Community</a>
        <a class="navbar-item" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{{ "/community/join.html" | prepend: site.baseurl }}">Join Us</a>
      </div>
    </div>
  </div>
</nav>
