<section class="hero pf-subscribe">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <h2 class="subtitle">Stay Updated</h2>
        </div>
        <div class="column">
          <form method="post" action="{{ site.mailchimp_subscribe_url | escape }}" novalidate>
            <div class="pf-mailchimp-validation" aria-hidden="true"><input type="text" name="b_671813dc72874a7223ceead45_3492e6621c" tabindex="-1" value=""></div>
            <div class="field has-addons">
              <div class="control is-expanded has-icons-left">
                <input name="EMAIL" class="input" type="email" placeholder="you@example.com">
                <span class="icon is-small is-left">
                  {% include icons/icon-email.svg %}
                </span>
              </div>
              <div class="control">
                <input name="submit" type="submit" class="button is-link" value="Subscribe">
              </div>
            </div>
            <p class="help">We send 2&ndash;3 emails per month. We won&rsquo;t ever sell your address or send you content unrelated to PDX Fiber.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
