@import 'pf-layout-fixups';

@import 'pf-layout-default';
@import 'pf-layout-front';
@import 'pf-layout-community';

@import 'pf-layout-blog';
@import 'pf-layout-event';
@import 'pf-layout-modal';
@import 'pf-layout-people';
@import 'pf-layout-subscribe';

html, body {
  height: 100%;
}

#pf-container {
  display: flex;
  flex-direction: column;
}

.pf-primary {
  flex-grow: 1;
}

hr.pf-section-hr {
  margin: 0;
}
