@import 'pf-layout-fixups';

@import 'pf-layout-default';
@import 'pf-layout-front';
@import 'pf-layout-community';

@import 'pf-layout-blog';
@import 'pf-layout-event';
@import 'pf-layout-modal';
@import 'pf-layout-people';
@import 'pf-layout-subscribe';

html, body {
  height: 100%;
}

#pf-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  > * {
    flex: 0 1 auto;
  }

  > .pf-primary {
    flex: 1 1 0;
  }
}

hr.pf-section-hr {
  margin: 0;
}
