---
layout: page
title: Join Us
subtitle: Reclaim the internet for the people
description: Ways to work with us to implement municipal broadband.
---
<article class="section">
  <div class="container">
    <div class="content">
      <p>
        We&rsquo;d love to work alongside you! Even if you only have an hour or two a week to volunteer, we need your
        support to make municipal broadband a reality in Portland.
      </p>
      <p>
        We&rsquo;re especially looking for people who have experience with any of the following:
      </p>
      <ul>
        <li>Drafting public policy</li>
        <li>Administering 501(c)(4) organizations</li>
        <li>Marketing and advertising</li>
      </ul>
    </div>
    <hr>
    <h3 class="title is-4">Visit Our Chat</h3>
    <h4 class="subtitle is-5">
      <a href="{{ site.chat_url }}">
        <span class="icon is-smallish">{% include icons/icon-chat.svg %}</span>
        irc.freenode.net #pdxfiber
      </a>
    </h4>
    <p class="content">
      The easiest way to get in touch with us is via chat. We have an active IRC community on the
      <a href="https://freenode.net/philosophy">freenode</a> network. Let us know what you&rsquo;re interested in
      working on, and we&rsquo;ll get you involved right away!
    </p>
    <hr>
    <h3 class="title is-4">Come to a Meeting</h3>
    <p class="content">
      We post all our upcoming meetings to our <a href="https://www.meetup.com/PDX-Fiber/">Meetup</a> group. We love
      seeing new faces, and we make a point to be a welcoming, inclusive community for everyone.
    </p>
    <hr>
    <h3 class="title is-4">We&rsquo;re Open Source</h3>
    <h4 class="subtitle is-5">
      <a href="{{ site.github_url }}">
        <span class="icon is-smallish">{% include icons/icon-github.svg %}</span>
        GitHub
      </a>
    </h4>
    <div class="content">
      <p>
        Found a problem with our website? Want to expand a page based on your research? Open an
        <a href="{{ '/issues' | prepend: site.github_url }}">issue</a> or
        <a href="{{ '/pulls' | prepend: site.github_url }}">pull request</a> on our GitHub repository.
      </p>
      <p>
        If you&rsquo;re not in the Portland area, but are interested in starting a municipal broadband campaign in
        your community, feel free to fork and modify our website to your needs. Our website is licensed under the
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons
        Attribution-NonCommercial-ShareAlike 4.0 International license</a>. We&rsquo;d love to help you get
        started, so please also reach out via IRC or <a href="mailto:{{ site.email }}">email</a>!
      </p>
    </div>
  </div>
</article>
{% include subscribe.html %}
