---
layout: default
---
<article class="pf-primary" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="hero is-dark">
    <div class="hero-body">
      <div class="container">
        <header>
          <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
          {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="container">
      <div class="pf-blog-post content" itemprop="articleBody">
        {{ content }}
      </div>
      {% include blog/byline.html %}
      {% if page.footnotes %}
        <hr>
        {% include footnotes.html %}
      {% endif %}
    </div>
  </section>
</article>
{% include subscribe.html %}
